services:
    api:
        image: node:24-alpine
        working_dir: /app
        volumes:
            - ./server:/app
        ports:
            - "3333:3333"
        environment:
            - NODE_ENV=development
            - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
            - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
            - GOOGLE_REDIRECT_URI=${GOOGLE_REDIRECT_URI}
            - GOOGLE_REFRESH_TOKEN=${GOOGLE_REFRESH_TOKEN}
            - GOOGLE_ACCESS_TOKEN=${GOOGLE_ACCESS_TOKEN}
        command: sh -c "npm install && npm run dev"
        stop_grace_period: 1s

    client:
        image: node:24-alpine
        working_dir: /app
        volumes:
            - ./client:/app
            - /app/node_modules
        ports:
            - "5173:5173"
        environment:
            - NODE_ENV=development
        command: sh -c "npm install && npm run dev -- --host"
        stop_grace_period: 1s
