services:
    api:
        image: node:24-alpine
        working_dir: /app
        volumes:
            - ./server:/app
            - ./logs:/app/logs
        ports:
            - "3333:3333"
        environment:
            - TZ=Europe/Paris
            - NODE_ENV=development
            - PORT=3333
            - HOST=0.0.0.0
            - LOG_LEVEL=info
            - APP_KEY=SEYsJ0SsaIxmvq50Y4RFS1ZnTkGaByaq
            - DB_HOST=127.0.0.1
            - DB_PORT=3306
            - DB_USER=root
            - DB_PASSWORD=root
            - DB_DATABASE=app
            - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
            - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
            - GOOGLE_REDIRECT_URI=${GOOGLE_REDIRECT_URI}
            - GOOGLE_REFRESH_TOKEN=${GOOGLE_REFRESH_TOKEN}
            - GOOGLE_ACCESS_TOKEN=${GOOGLE_ACCESS_TOKEN}
            - OPENWEATHER_API_KEY=${OPENWEATHER_API_KEY}
        command: sh -c "npm install && npm run dev"
        stop_grace_period: 1s

    client:
        image: node:24-alpine
        working_dir: /app
        volumes:
            - ./client:/app
            - /app/node_modules
        ports:
            - "5173:5173"
        environment:
            - NODE_ENV=development
            - TZ=Europe/Paris
            - VITE_SCREEN_OFF_START=${VITE_SCREEN_OFF_START:-22}
            - VITE_SCREEN_OFF_START_MINUTES=${VITE_SCREEN_OFF_START_MINUTES:-0}
            - VITE_SCREEN_OFF_END=${VITE_SCREEN_OFF_END:-7}
            - VITE_SCREEN_OFF_END_MINUTES=${VITE_SCREEN_OFF_END_MINUTES:-0}
        command: sh -c "npm install && npm run dev -- --host"
        stop_grace_period: 1s

    clientv2:
        image: node:24-alpine
        working_dir: /app
        volumes:
            - ./clientv2:/app
            - /app/node_modules
        ports:
            - "5174:5174"
        environment:
            - NODE_ENV=development
            - TZ=Europe/Paris
        command: sh -c "npm install && npm run dev -- --host --port 5174"
        depends_on:
            - api
        stop_grace_period: 1s
