services:
    api:
        image: node:24-alpine
        working_dir: /app
        volumes:
            - ./server:/app
        ports:
            - "3333:3333"
        environment:
            - TZ=UTC
            - NODE_ENV=development
            - PORT=3333
            - HOST=0.0.0.0
            - LOG_LEVEL=info
            - APP_KEY=SEYsJ0SsaIxmvq50Y4RFS1ZnTkGaByaq
            - DB_HOST=127.0.0.1
            - DB_PORT=3306
            - DB_USER=root
            - DB_PASSWORD=root
            - DB_DATABASE=app
            - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
            - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
            - GOOGLE_REDIRECT_URI=${GOOGLE_REDIRECT_URI}
            - GOOGLE_REFRESH_TOKEN=${GOOGLE_REFRESH_TOKEN}
            - GOOGLE_ACCESS_TOKEN=${GOOGLE_ACCESS_TOKEN}
            - OPENWEATHER_API_KEY=${OPENWEATHER_API_KEY}
        command: sh -c "npm install && npm run dev"
        stop_grace_period: 1s

    client:
        image: node:24-alpine
        working_dir: /app
        volumes:
            - ./client:/app
            - /app/node_modules
        ports:
            - "5173:5173"
        environment:
            - NODE_ENV=development
        command: sh -c "npm install && npm run dev -- --host"
        stop_grace_period: 1s
